%h1 Steria Kodeklubb
%p Her finner du filene du trenger til HTML&CSS-oppgavene

%ol
  %li
    = link_to 'Oppgave 1', 'https://github.com/CodeClub/webdev-curriculum/tree/master/nb_NO/lesson1/ressurser', {:target => '_blank'}
  %li
    = link_to 'Oppgave 2', 'https://github.com/CodeClub/webdev-curriculum/tree/master/nb_NO/lesson2/ressurser', {:target => '_blank'}
  %li
    = link_to 'Oppgave 3', 'https://github.com/CodeClub/webdev-curriculum/tree/master/nb_NO/lesson3/ressurser', {:target => '_blank'}
  %li
    = link_to 'Oppgave 4', 'https://github.com/CodeClub/webdev-curriculum/tree/master/nb_NO/lesson1/ressurser', {:target => '_blank'}
  %li
    = link_to 'Oppgave 5', 'https://github.com/CodeClub/webdev-curriculum/tree/master/nb_NO/lesson1/ressurser', {:target => '_blank'}
  %li
    = link_to 'Oppgave 6', 'https://github.com/CodeClub/webdev-curriculum/tree/master/nb_NO/lesson1/ressurser', {:target => '_blank'}
  %li
    = link_to 'Oppgave 7', 'https://github.com/CodeClub/webdev-curriculum/tree/master/nb_NO/lesson1/ressurser', {:target => '_blank'}